- name: Create VM
  community.proxmox.proxmox_kvm:
    node: "{{ vm.node | default(node) }}"
    name: "{{ vm.name }}"
    vmid: "{{ vm.template_id }}"
    newid: "{{ vm.id }}"
    clone: yes
    full: yes

- name: Update VM configuration
  community.proxmox.proxmox_kvm:
    node: "{{ vm.node | default(node) }}"
    name: "{{ vm.name }}"
    vmid: "{{ vm.id }}"
    update: yes
    memory: "{{ vm.memory }}"
    cores: "{{ vm.cpu }}"
    ciuser: "{{ vm.user }}"
    sshkeys: "{{ lookup('file', vm.ssh_key_file | default('~/.ssh/id_rsa.pub')) }}"
    net:
      net0: 'virtio,bridge=vmbr0'
    ipconfig:
      ipconfig0: 'ip={{ vm.ip }},gw={{ vm.gateway }}'
    state: present

- name: Resize disk
  community.proxmox.proxmox_disk:
    vmid: "{{ vm.id }}"
    disk: scsi0
    size: "{{ vm.disk_size }}"
    state: resized
